[flake8]
max-line-length = 125
exclude = tests/*

ignore =
    E221  ; Allow alignment of arguments
    E241
    E251
    E226  ; Allow no whitespace around arithmetic operators
    E302  ; Two empty lines between classes and classes
    E305  ; Two empty lines between functions and classes
    N803  ; Allow variables to start with upper case
