name: pytest

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Compile extensions
        run: make

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Set up PyPi dependencies and install package
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Run test
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest --cov deepspeedcube
